<mat-card-subtitle><b>Dados do Anúncio</b></mat-card-subtitle>

<form class="bg">

  <div id="content" #content>
    <table mat-table [dataSource]="anuncios" class="mat-elevation-z8 col-md-12">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->


      <ng-container matColumnDef="nomeAnuncio">
        <th mat-header-cell *matHeaderCellDef class="tituloColuna"> NOME </th>
        <td mat-cell *matCellDef="let anuncio"> {{anuncio.nomeAnuncio}} </td>
      </ng-container>

      <!-- Cliente Column -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef class="tituloColuna"> CLIENTE </th>
        <td mat-cell *matCellDef="let anuncio"> {{anuncio.cliente}} </td>
      </ng-container>

      <!-- Data Início Column -->
      <ng-container matColumnDef="dtInicio">
        <th mat-header-cell *matHeaderCellDef class="tituloColuna"> DATA INÍCIO </th>
        <td mat-cell *matCellDef=" let anuncio"> {{anuncio.dtInicio}} </td>
      </ng-container>

      <!-- Data Término Column -->
      <ng-container matColumnDef="dtTermino">
        <th mat-header-cell *matHeaderCellDef class="tituloColuna"> DATA TÉRMINO </th>
        <td mat-cell *matCellDef=" let anuncio"> {{anuncio.dtTermino}} </td>
      </ng-container>

      <!-- Total Investido Column -->
      <ng-container matColumnDef="investimentoPorDia">
        <th mat-header-cell *matHeaderCellDef class="tituloColuna"> INVESTIMENTO DIÁRIO </th>
        <td mat-cell *matCellDef=" let anuncio">{{ anuncio.investimentoPorDia | currency:'BRL':'symbol' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
  </div>

  <div class="form-group text-right botao-imprimir">
    <button mat-button (click)="downloadPDF()" class="btn btn-primary btn-enviar">
      <mat-icon class=" padrao-tamanho-icone" matPrefix>printer</mat-icon>
      Imprimir
    </button>
  </div>
</form>