<div class="container">
    <div class="espacoSuperior"></div>
    <div class="col-md-12">
        <div class="card mat-elevation-z8">
            <div class="card-header card-header-primary">
                <h4 class="card-title" style="padding-top:10px; padding-left:45px; text-align: center;">
                    SISTEMA DE CADASTRO DE ANÚNCIOS
                </h4>
            </div>

            <mat-tab-group>

                <mat-tab>
                    <mat-card class="container">

                        <ng-template mat-tab-label>
                            <h5>CADASTRAR</h5>
                        </ng-template>

                        <mat-card>
                            <app-cadastro-anuncio></app-cadastro-anuncio>
                        </mat-card>

                    </mat-card>

                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="area-click" (click)="listar();">
                        <h5 >VISUALIZAR</h5>
                    </div>
                    </ng-template>

                    <mat-card class="container">

                        <app-consulta-anuncio></app-consulta-anuncio>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>