.card-body {
    padding: 50px;
  }
  
  mat-icon.icon {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 9px;
  }
  
  .padrao-tamanho-icone {
    font-size: 20px;
  }  

  .form-campo:focus {
    -webkit-box-shadow: inset 0 0px 0px;
    box-shadow: inset 0 0px 0px;
  }
  
  .form-campo {
    height: auto;
    padding: 0px;
  }

  .full-width{
    width: 100%;
  }
  
  .space {
    padding-top: 50px;
  }

  .btn-enviar {
    background-color: #1f6480;
    border: none;
  }
  
  .btn-enviar:hover {
    background-color: #358bad;
  }

  .btn-limpar {
    background-color: rgb(151, 148, 148);
    border: none;
    margin-left: 5px;
  }
  
  .btn-limpar:hover {
    background-color: rgb(182, 177, 174);
    margin-left: 5px;
  }

  .container {
    padding-top: 50px;
  }
  
  