<mat-card-subtitle><b>Dados do Anúncio</b></mat-card-subtitle>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="bg">


    <mat-form-field class="full-width">
        <mat-icon class="icon padrao-tamanho-icone" matPrefix>label</mat-icon>
        <mat-label>Nome:</mat-label>
        <input matInput [(ngModel)]="anuncio.nomeAnuncio" id="nomeAnuncio" formControlName="nomeAnuncio"
            placeholder="Informe o Nome do Anúncio" class="form-control form-campo" maxlength="256" />
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-icon class="icon padrao-tamanho-icone" matPrefix>person_outline</mat-icon>
        <mat-label>Cliente:</mat-label>
        <input matInput [(ngModel)]="anuncio.cliente" id="cliente" formControlName="cliente"
            placeholder="Informe o Nome do Cliente" class="form-control form-campo" maxlength="256" />
    </mat-form-field>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field>
                    <input matInput [matDatepicker]="dtInicio" placeholder="Data Início"
                        (dateChange)="validarDataInicio($event)" [min]="minDate" formControlName="dtInicio"
                        (click)="dtInicio.open()">
                    <mat-datepicker-toggle matSuffix [for]="dtInicio"></mat-datepicker-toggle>
                    <mat-datepicker #dtInicio></mat-datepicker>
                </mat-form-field>

            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field class="col-md-6">
                    <input matInput [matDatepicker]="dtTermino" placeholder="Data Término"
                        (dateChange)="validarDataTermino($event)" formControlName="dtTermino"
                        (click)="dtTermino.open()">
                    <mat-datepicker-toggle matSuffix [for]="dtTermino"></mat-datepicker-toggle>
                    <mat-datepicker #dtTermino></mat-datepicker>
                </mat-form-field>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field class="full-width">
                    <mat-icon class="icon padrao-tamanho-icone" matPrefix>attach_money
                    </mat-icon>
                    <mat-label>Valor Investido:</mat-label>
                    <input matInput type="text" formControlName="investimentoPorDia" id="investimentoPorDia"
                        placeholder="Informe o Valor" currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision:'2' }"
                        class="form-control form-campo" maxlength="256" />


                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-group text-right">
        <button mat-button type="submit" class="btn btn-primary btn-enviar">
            <mat-icon class=" padrao-tamanho-icone" matPrefix>save</mat-icon>
            Salvar
        </button>

        <button mat-button (click)="limparForm()" class="btn btn-secondary btn-limpar">
            <mat-icon class=" padrao-tamanho-icone" matPrefix>restore</mat-icon>
            Limpar
        </button>
    </div>


</form>